<main class="flex flex-col h-screen items-center gap-y-12 p-8">
    <div class="flex flex-col gap-y-3">
        <p><span class="font-bold">Account: </span>{{ account?.accountId }}</p>
        <div class="flex flex-row gap-x-8">
            <p><span class="font-bold">Balance: </span>{{ account?.balance }}</p>
            <p><span class="font-bold">Currency: </span>{{ account?.currency }}</p>
        </div>
    </div>
    <div class="flex flex-col items-center">
        <h1>Transactions</h1>
        <table class="border-separate border-spacing-x-8 border-spacing-y-4">
            <thead>
            <tr>
                <th class="text-left">Amount</th>
                <th class="text-left">Type</th>
                <th class="text-left">Date</th>
            </tr>
            </thead>
            <tbody>
            @for (transaction of transactions; track transaction.transactionId) {
                <tr>
                    <td>{{ transaction.amount }}</td>
                    <td>{{ transaction.type }}</td>
                    <td>{{ transaction.date }}</td>
                </tr>
            }
            </tbody>
        </table>
        <button (click)="loadMoreTransactions()">Load More</button>
    </div>
</main>
