<main class="flex flex-col h-screen items-center gap-y-12 p-8">
    <div class="flex flex-col gap-y-3">
        <div class="flex flex-row gap-x-8">
            <p><span class="font-bold">Amount: </span>{{ transaction?.amount }}</p>
            <p><span class="font-bold">Type: </span>{{ transaction?.type }}</p>
        </div>
        <div class="flex flex-row gap-x-8">
            <p><span class="font-bold">Date: </span>{{ formatDate(transaction?.date) }}</p>
            <p><span class="font-bold">Balance After: </span>{{ transaction?.balanceAfter }}</p>
        </div>
    </div>
</main>
